<div>

  <% if @idea.errors %>
  <div>
    <%= @idea.errors.full_messages.join(",") %>
  </div>
  <% end %>

  <%= form_for @idea do |f| %>
  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :body %>
    <%= f.text_area :body,class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.file_field :avatar %>
  </div>

  <%= f.submit %>
  <% end %>
</div>
